---

---

<div>
    <a href="/GuiadeViaje.txt" download class="inline-block bg-[#1f919b] text-white px-6 py-3 rounded-lg font-semibold shadow-lg transition-all duration-300 ease-out hover:-translate-y-2 hover:bg-[#c1f0f2] hover:text-[#1f919b] hover:shadow-2xl mb-5">
        ¡Descarga tu guía aqui!
    </a>
</div>
