---
const { name } = Astro.props;
const { img } = Astro.props;
const { url } = Astro.props;
---

<div class="flex flex-col object-center items-center text-center m-10 justify-center">
    <a href={url} class="transition-transform duration-300 ease-in-out hover:scale-110">
        <img src={img} class="w-72 h-50 object-cover object-center rounded-3xl shadow items-center mb-2 transition-all duration-300 ease-out transform hover:-translate-y-3">
        <h2 class="font-[cursive] text-[#5fb3b3] font-bold text-3xl drop-shadow-lg">{name}</h2>
    </a>
</div>
